<header class="bg-neutral-200 h-16 flex items-center">
    <h1>
        <span class="font-light text-teal-600 text-3xl mx-6 leading-none"
            >Project Astro and Tailwind</span
        >
    </h1>
</header>
