---
import Layout from "../../layouts/Layout.astro";

const id = Astro.params.client_id;
const url = "http://127.0.0.1:6969/users/" + id;
const response = await fetch(url, {
    method: "GET",
    mode: "cors",
    headers: {
        Authorization:
            "Bearer e5f28e63-77de-11ee-86fe-38ca84c6d8be:eea8f3274225bdbce6c1dc3010f6dc16f2cf6aaae8ec7d990ad83d4dbadbb7890a3b31d981d465231ec322d6c5430442798b2536fee5729b1950694f7179e64f",
    },
});
const data = await response.json();
---

<Layout>
    <main>{JSON.stringify(data)}</main>
</Layout>
